<a href="https://colab.research.google.com/github/KevinrealG/Fundamentos_de_Programacion/blob/main/01_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción

In [ ]:
#programa ¡hola mundo!
print("¡Hola Mundo!")
mi_nombre = input("Hola, ¿Cuál es tú nombre?")
print("Hola ",mi_nombre, "un gusto conocerte.")

¡Hola Mundo!
Hola, ¿Cuál es tú nombre?Andrés
Hola  Andrés un gusto conocerte.

In [ ]:
print("Doble de un Número")
numero = int(input("Ingrese un número: "))
print("El doble del número es: ",2*numero)

Doble de un Número
Ingrese un número: 5
El doble del número es:  10

# Creando Variables

## Sentencia de Asignación
En Python solo se necesita realizar escribir esta sentencia en el código para crear una

In [ ]:
#mi_variable = valor_de_mi_variable
mi_edad = 20
pi  = 3.14
n = 1
nombre = "Camilo"
verdadder = True

## Ver Tipo

In [ ]:
type(verdadder)

bool

## Imprimir Variable

In [ ]:
print(verdadder)

True

##

## Múltiples Variables

In [ ]:
a , b , c = 20, 14, 15

## Usar Variables

In [ ]:
# Usar variables
suma = a +b +c
print(suma)

49

## Constantes y función input

In [ ]:
# programa que calcula el triple de un número
print("TRIPLE DEL NÚMERO")
TRIPLE = 3
numero = float(input("Ingrese un numero: "))
print("EL triple de ese número es: ",TRIPLE*numero)

TRIPLE DEL NÚMERO
Ingrese un numero: 2
EL triple de ese número es:  6.0

# Nombrar Variables
* El nombre no puede empezar por un número
* No se permite el uso de guiones -
* Tampoco se permite el uso de espacios.
* Python diferencia Mayuscula y minuscula.

Para más consulta guía PEP 8.

In [ ]:
# Válido
_variable = 10
vari_able = 20
variable10 = 30
variable = 60
variaBle = 10

# No válido
2variable = 10
var-iable = 10
var iable = 10

SyntaxError: ignored

### Palabras reservadas

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
print = 3
#incorrecto

In [ ]:
print(5+2)

TypeError: ignored

## EJEMPLO

In [ ]:
#PROGRAMA CONVERSION DE Kg A g
peso_en_kilos = float(input("Ingrese la masa en kilogramos: "))
tasa_de_conversion = 1000
peso_en_gramos =

In [ ]:
# Promedio de edades
edad1 =
edad2 =
nombre_1 =
nombre_2 =